.align-left {
    float:right;
}

ul {
    list-style-type: none;
    overflow: hidden;
    padding: 20px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    transition: 0.5s;

  }

  li a:hover {
      color: #04AA6D;
      transition: 0.5s;
  }

  .btn {
      background-color: #04AA6D;
  }
  
.green {
    background-color: #04AA6D;
    font-family: 'DM Sans', sans-serif;

}