@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,700&display=swap');

body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    background-color: #e6e6e6;  
  }
  
.frame {
    padding-top: 2rem;
    height: 30%;
    align-items: center;
    padding-left: 3.2%;
  }
  
  .wallet-frame {
    padding: 15px;
    border-radius: 5px;
    border-color: #000000;
  }

  .small-box-frame {
    border: solid;
    border-radius: 5px;
    border-color: #7e7e7e55;
    margin: 7px;
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: 0.2s;
    box-shadow: 2px 2px 7px #52525209;
    overflow: hidden;

    height: 19rem;


  }

  .small-box-frame img {
    height: 14.3rem;
    overflow: hidden;
    object-fit: cover;
  }

  .small-box-frame p {
    padding-top: 3px;
    color: rgb(58, 196, 116);
    margin: 0;

  }

  .small-box-frame .wallet-loading-screen {
    align-items: center;
    justify-content: center;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    width: 40%;
  }

  .small-box-frame:hover {
    transition: 0.2s;
    color: rgb(58, 196, 116);
    border-color: rgb(58, 196, 116);

  }

  .individualNFT {
    border-radius: 5px;
    height:max-content;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
  
  }

  .individualwalletname {
    font-size: 1.3rem;
  }

  .individualNFT-2 {
    width: 100%;
    border-radius: 5px;

  }

.lastFormGroup {
  margin-bottom: 15px;
}

label {
  margin-bottom: 3px;
}

.nft-button {
  width: 100%;
  padding: 15px;
  margin-top: 4rem;
  color: white;
  background-color: rgb(58, 196, 116);
  border: none;
  border-radius: 5px;
}

.nft-headline {
  padding-top: 2rem;
}

a {
  text-decoration: none;
  color: rgb(58, 196, 116)
}

a:hover {
  text-decoration: none;
  color: rgb(50, 135, 86)
}
