@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,700&display=swap');

body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    background-color: #e6e6e6;
  
  }
  
.frame {
    padding-top: 12rem;
    height: 50%;
    align-items: center;
    padding-left: 3.2%;
  }
  
  .wallet-frame {
    border: solid;
    padding: 15px;
    border-radius: 5px;
    border-color: #a8a8a8;
  }

  .small-box-frame {
    padding: 10px;
    border: solid;
    border-radius: 5px;
    border-color: #a8a8a8;
  }